// blockquote
blockquote {
    font-family: $font_blockquote;
    color: $color_titles;
    font-size: 1.42rem;
    line-height: 1.4;
    margin-bottom: 1.5rem;
}

// style 1
blockquote.nk-blockquote-style-1 {
    font-family: $font_additional;
    display: block;
    text-align: center;
    max-width: 715px;
    margin: 0 auto;
    letter-spacing: 0.04em;

    > p {
        font-size: 1.6rem;
        line-height: 1.45;
        margin-bottom: 1.15rem;

        &:before,
        &:after {
            font-size: 2.2rem;
            line-height: 1;
        }
        &:before {
            content: '“ ';
        }
        &:after {
            content: ' ”';
        }
    }

    cite {
        font-size: 0.89rem;
        font-style: normal;
        text-transform: uppercase;
    }
}